<table class="table table-bordered" border="1px">
    <thead>
      <tr>
        <th>Username</th>
        <th>Type</th>
        <th>First Name</th>
      </tr>
    </thead>
    <tbody>
      {% for b in book %}
      <tr>
        <td>{{ b.name }}</td>
        <td>{{ b.price }}</td>
        <td>
          {{ b.detail }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>