<div class="container">
<br>
<button class="btn btn-danger mybtn" (click)="logout()">Log Out</button>

<app-users-create></app-users-create>
<br>
<br>
<h2>API integrated App</h2>
<div  style="text-align:center">
  <h1>
   
  </h1>
  <table border="1" >
    <thead>
      <td> id</td>
      <td>Name</td>
      <td>Email</td>
      <td>Address</td>
    </thead>
    <tr *ngFor='let user of users '>
      <td> {{ user.id | json }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address }}</td>
    </tr>
  </table>
</div>

</div>