
<h1>Sign Up</h1>
<form>

    <div class="form-group">
      <label >Email address:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
    </div>
  
    <div class="form-group">
      <label>Password:</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="password">
    </div>
    
    <button (click)="onRegister()">Register</button>
  
  </form>
  