<div>
  <form>
      <div>
          <label>First Name:</label>
          <input type="text"  [(ngModel)]="first_name" name="first_name">
        </div>
        <div class="form-group">
            <label>Last Name:</label>
            <input type="text" [(ngModel)]="last_name"  name="last_name">
          </div>
    <div class="form-group">
      <label>Email address:</label>
      <input type="email"  [(ngModel)]="email" name="email">
    </div>
    <div class="form-group">
      <label>Address:</label>
      <input type="text"  [(ngModel)]="address" name="address">
    </div>
    <div class="form-group">
        <label>Phone:</label>
        <input type="number"  [(ngModel)]="phone" name="phone">
      </div>
  
    <button (click)="sendData()" type="submit" class="btn btn-success">Send</button>
  </form>
</div>