<form>

  <div class="form-group">
    <label >Email address:</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email">
  </div>

  <div class="form-group">
    <label>Password:</label>
    <input type="password" class="form-control" id="pwd" [(ngModel)]="password" name="password">
  </div>
  
  <button (click)="login()">Login</button>

</form>

<button (click)="navigateToRegister()">Register Here</button>
